::ng-deep #toolbar {
    padding: 5px 10px;
}
::ng-deep .dx-toolbar-button .dx-button {
    border: none;
}
::ng-deep .dx-toolbar-button > .dx-toolbar-item-content {
    margin-left: -7px;
}
::ng-deep .dx-list-item-icon {
    margin-right: 10px;
}
::ng-deep #view {
    margin-left: 10px;
    margin-top: 10px;
}

.band {
    color: #FFF;
    text-align: left;
    /* H5 - 16 */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

::ng-deep .dx-accordion-item-title::before {
    display: none;
}

::ng-deep .dx-drawer-wrapper .dx-drawer-panel-content {
    overflow-y: auto;
    width: 200px;
}

.drawer-container {
     height: calc(100dvh - 46px); // 46px = height of toolbar
    // width: fit-content;
    // background-color: #2a2a2a;
}

.kros-template-wrapper {
    height: 100%;
}

.dx-accordion {
    min-height: 100%;
}

.band-ico {
    margin-right: 10px;
    vertical-align: bottom;
}

.dx-list .dx-list-item {
    border-bottom: none;
  }

  ::ng-deep .dx-list-item {
    border-top: 0;
  }

  .collapsed-band {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: fit-content;
  }

  .band-ico-small {
    /* Nastavte veľkosť ikonky pre zbalený stav */
    width: 20px;
    height: 20px;
  }

  .small-text {
    /* Nastavte menšiu veľkosť textu pre zbalený stav */
    font-size: 12px;
  }
