<dx-toolbar id="toolbar">
  <dxi-item widget="dxButton" [options]="buttonOptions" location="before">
  </dxi-item>
</dx-toolbar>
<div class="drawer-container">
  <dx-drawer [position]="'left'" [revealMode]="'expand'" [(opened)]="isDrawerOpen" template="template" [minSize]="70">
    <div *dxTemplate="let data of 'template'">
      <dx-accordion [dataSource]="menuItems" itemTitleTemplate="title" [width]="200" [multiple]="true"
        [collapsible]="true" [animationDuration]="100">
        <div *dxTemplate="let band of 'title'">
          <ng-container *ngIf="isDrawerOpen; else collapsedTemplate">
            <!-- Šablóna pre rozbalený stav -->
            <a>
              <div>
                <img class="band-ico" src="../assets/{{ band.icon }}.svg" alt="{{ band.title }}" />
                <span>{{ band.title }}</span>
              </div>
            </a>
          </ng-container>
          <ng-template #collapsedTemplate>
            <!-- Šablóna pre zbalený stav -->
            <a>
              <div class="collapsed-band">
                <img class="band-ico-small" src="../assets/{{ band.icon }}.svg" alt="{{ band.title }}" />
                <span class="small-text">{{ band.title }}</span>
              </div>
            </a>
          </ng-template>
        </div>
        <div *dxTemplate="let band of 'item'">
          <dx-list [items]="band.items" selectionMode="single"
            itemTemplate="links">
            <div *dxTemplate="let link of 'links'">
              <a>
                <span>{{ link.title }}</span>
              </a>
            </div>
          </dx-list>
        </div>
      </dx-accordion>
    </div>
    <div id="view">
      <router-outlet></router-outlet>
    </div>
  </dx-drawer>