<dx-toolbar id="toolbar">
  <dxi-item widget="dxButton" [options]="buttonOptions" location="before">
  </dxi-item>
</dx-toolbar>
<div class="drawer-container">
  <dx-drawer [position]="'left'" [revealMode]="'expand'" [(opened)]="isDrawerOpen" template="template" [minSize]="isDrawerOpen ? 200 : 70">
    <div *dxTemplate="let data of 'template'">
      <dx-accordion [dataSource]="menuItems" itemTitleTemplate="title" [width]="isDrawerOpen ? 200 : 70" [multiple]="true"
        (onItemTitleClick)="onTitleClick($event)"
        [collapsible]="true" [animationDuration]="100">
        <div *dxTemplate="let band of 'title'">
          <ng-container *ngIf="isDrawerOpen; else collapsedTemplate">
            <!-- Šablóna pre rozbalený stav -->
            <a>
              <div>
                <img class="band-ico" src="../assets/{{ band.icon }}.svg" alt="{{ band.title }}" />
                <span>{{ band.title }}</span>
              </div>
            </a>
          </ng-container>
          <ng-template #collapsedTemplate>
            <!-- Šablóna pre zbalený stav -->
            <a>
              <div class="collapsed-band">
                <img class="band-ico-small" src="../assets/{{ band.icon }}.svg" alt="{{ band.title }}" />
                <span class="small-text">{{ band.title }}</span>
              </div>
            </a>
          </ng-template>
        </div>
        <div *dxTemplate="let band of 'item'">
          <ng-container *ngIf="band.items && band.items.length > 0">
            <dx-list [items]="band.items" selectionMode="single" itemTemplate="links"
              [ngClass]="{'items-open-drawer': isDrawerOpen}">
              <!-- <div *dxTemplate="let link of 'links'">
                <a>
                  <span>{{ link.title }}</span>
                </a>
              </div> -->
              <div *dxTemplate="let link of 'links'">
                <ng-container *ngIf="!isDrawerOpen; else expandedTemplate">
                  <div class="initial-circle" title="{{ link.title }}" [ngStyle]="{'background-color': link.color}">
                    {{ link.title | firstLetter }}
                  </div>
                </ng-container>
                <ng-template #expandedTemplate>
                  <a>
                    <span>{{ link.title }}</span>
                  </a>
                </ng-template>
              </div>
            </dx-list>
          </ng-container>
        </div>
      </dx-accordion>
    </div>
    <div id="view">
      <router-outlet></router-outlet>
    </div>
  </dx-drawer>